
@{
    ViewBag.Title = "Regolamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Regolamento</h2><br />

<p>1. La biblioteca rappresenta un servizio gratuito per gli alunni e i docenti dei singoli plessi.</p>


<p>2. La biblioteca è aperta per il prestito ogni giovedì dalle ore 9.20 alle ore 12.20.</p>
<p>3. Nell'aula biblioteca è obbligatorio mantenere un comportamento rispettoso. In particolare:</p>


<li>E' vietato parlare ad alta voce;</li>

<li> E' vietato consumare cibi e bevande;</li>

<li> E' vietato scrivere su arredi e libri;</li>

<li> I libri consultati vanno riposti negli appositi scaffali;</li>

<li>I libri possono essere portati fuori dalla biblioteca solo se presi in prestito con previo registro nel siatema.</li><br />


   <p> 4. Viene dato in prestito un libro alla volta.</p>

   <p>5. Ogni studente non può prendere più di 2 libri in prestito</p>

   <p>6. La restituzione dei libri è da considerarsi entro 30 giorni</p>

    <p>7. In caso di smarrimento, mancata restituzione o danneggiamento del libro avuto in prestito, l'utente sarà tenuto a risarcire la scuola. Per gli alunni saranno ritenuti responsabili i genitori.

    <p>8.  Per le donazioni private sono ammessi libri nuovi o usati, purché in perfetto stato.</p>

    <p>9.  Al termine di ogni anno scolastico, conclusa l'attività del prestito, le insegnanti responsabili provvederanno al riordino dei libri, verificando l'avvenuto rientro dei prestiti ed eliminando i libri eccessivamente usurati. In caso di smarrimento o eliminazione, si provvederà alla notifica sia nel registro degli ingressi sia nella cartella di catalogazione informatica, ove presente.</p>

</ul>
