@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-size:40px">Biblioteca scolastica ITS</h1>
    <br />

    <p class="lead">
        “Il buon lettore è come un viaggiatorecurioso: ogni libro scelto rappresenta l'inizio di un viaggio dove poter esplorare nuovi mondi e arricchire la propria mente.”                                                                                                                                                                                                                                                                                                     
    </p>
    <p>
                                                                                                                                                              Emanuela Breda
    </p>
    <p style="text-align:justify">
        La Biblioteca dell’Its è un ambiente accogliente e curato, dove gli alunni possono scoprire il piacere della lettura. Il libro, infatti, ha una funzione insostituibile nella formazione della persona e nella creazione di una capacità critica, selettiva e costruttiva: saper leggere significa saper pensare e saper giudicare.

        La Biblioteca offre un servizio per la comunità scolastica finalizzato a promuovere l’amore e il piacere per la lettura, intesa sia come mezzo per il soddisfacimento di un bisogno affettivo di evasione, fantasia ed identificazione positiva, sia come occasione di ricerca e di studio: è un luogo di apprendimento e opportunità formativa per l’innovazione didattica.
        Le attivita’ della biblioteca sono gestite secondo il regolamento.
    </p>
    <p><a href="Home/Regolamento" class="btn btn-danger ">Regolamento &raquo;</a></p>

</div>


<h2>Area Lettura</h2>
<br />
<br>

<div id="container-image"><img src="~/Content/img11.jpg"></div>
<br />
