@model Esercitazione_GestionePrestitiBiblioteca.Models.RegisterViewModel
@{
    ViewBag.Title = "Profilo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Il tuo profilo</h2>

<h3>Benvenuto fulano (escrever o nome o usuario dinamicamente) </h3>

<table class="table table-bordered table-hover">
    <tr>
        <th class="c">
            Nome del Ruolo
        </th>
    </tr>
    @*@foreach (var item in Email)
    {
        <tr>
            <td class="c">
                @item.Name
            </td>

        </tr>
    }*@

</table>