@model Esercitazione_GestionePrestitiBiblioteca.Models.RegisterViewModel
@{
    ViewBag.Title = "Profilo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Il tuo profilo</h2>

<h3>Benvenuto nella tua dashboard: (escrever o nome o usuario dinamicamente) </h3> @ViewBag.Ruolo

<!--pode colocar aki tb um if restringindo quem pode entrar noos links abaixo-->

@if (Request.IsAuthenticated)
{
    <p><a href="Products/Index">Elenco Prodotti</a></p>
    <p><a href="Clienti/Index">Elenco Clienti</a></p>

}
else
{
    <p>Non sei autenticato!</p>

}


