@model IEnumerable<Esercitazione_GestionePrestitiBiblioteca.Models.PrestitoViewModel>

@{
    ViewBag.Title = "UnoLibroInPrestito";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br /><br /><br />


@Html.Partial("_SideBar")



<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <br />
    <center><h4>Quantità di Libri in Prestito</h4></center><br />
    <div class="table-responsive">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Studente</th>
                    <th>Numero Libri in Prestito</th>


                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr>


                        <td>
                            @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Cognome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>


                    </tr>
                }


            </tbody>
        </table>
    </div>



</main>
    </div>
</div>




