@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Ruoli";
}

<h2>Ruoli Disponibili</h2>
<br />
<section class="col-sm-6">
    <table class="table-bordered">
        @Html.ActionLink("Crea Ruolo", "Create", "Role", new { @class = "btn btn-primary btn-sm btn-block" })
    </table>
    <br />
</section>

<section class="col-sm-6">
    <table class="table-bordered">
        <!--Crio esse metodo em accountController-->
        @Html.ActionLink("Assegna Ruolo per utente", "RegisterRole", "Account")
    </table>
</section>

<br />

<table class="table table-bordered table-hover">
    <tr>
        <th class="c">
            Nome del Ruolo
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">
                @item.Name
            </td>

        </tr>
    }

</table>


