<ul class="sidebar navbar-nav">
    
    @*<ul class="list-group">
        <li class="list-group-item"><a href="/Dashboard/Index" class="btn btn-default btn-block">Produtos</a></li>
        <li class="list-group-item"><a href="/Dashboard/JoinProductCategory" class="btn btn-default btn-block">Category</a></li>
    </ul>*@
   
    <li class="nav-item">
        <a class="nav-link" id="pagesDropdown" href="/Dashboard/Index">
            @*<i class="fas fa-fw fa-folder">*@
            <i class="fas fa-fw fa-table"></i>
            <span>Prodotti</span>
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link" id="pagesDropdown" role="button" href="/Dashboard/JoinProductCategory" aria-haspopup="true" aria-expanded="false" )>
            @*<a class="nav-link" @Html.ActionLink("Category", "JoinProductCategory", "Dashboard")>*@
            <i class="fas fa-fw fa-table"></i>
            <span>Categorias</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="Dashboard/">
            <i class="fas fa-fw fa-table"></i>
            <span>Marcas</span>
        </a>
    </li>
</ul>